<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dvgxgsxyc/image/upload/v1471948252/dj_home.jpg');">
  <div class="banner-content">
    <h1 class="text-center">Our DJs</h1>
  </div>
</div>




<!-- for debugging - or we could turn this info into something that looks nice -->
<p>
You searched within <%= @max_distance %> km of <%= @your_location %> With a price of <%= @min_price %> to <%= @max_price %>
</p>
<!-- for debugging -->





<div class="container padded">
<div id="map" style="width: 100%; height: 200px;">
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>
</div>






<div class="container padded">
  <div class="row">
    <% @profiles.each do |profile| %>
    <% distance_away = Geocoder::Calculations.distance_between(Geocoder.coordinates(@your_location), [profile.user.latitude,profile.user.longitude ]) %>

        <% if profile.price_hour < @max_price && profile.price_hour > @min_price && distance_away < @max_distance.to_f  %>
          <div class="col-xs-12 col-sm-4">


          <% card_photo = profile.photo.file ? cl_image_path(profile.photo) : 'http://res.cloudinary.com/dvgxgsxyc/image/upload/v1471948252/dj_home.jpg' %>
            <div class="card text-center" style="background-image: url('<%= card_photo %>');">
              <div class="badge badge-blue"><%= distance_away.round %>km</div>
              <div class="badge badge-red lower">£<%= profile.price_hour/1000 %>k</div>

            </div>
            <div class="row">
            <p class="card-title text-center"><%=link_to profile.dj_name, profile_path(profile)%></p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

