
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path(@profile.photo) %>');">


  <div class="banner-content">
    <h1> <%= @profile.dj_name.upcase %></h1>
    <!-- <p>Very cool stuff, useful and smart</p> -->
    <!-- <a class="btn btn-primary btn-lg">GET IT</a> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="text-center">

        <% if @profile.user == current_user %>

          <%= link_to "Delete ", profile_path(@profile), :class => "btn btn-danger",
                method: :delete,
                data: { confirm: "Are you sure?" } %>

            <%= link_to "Edit ", edit_profile_path(@profile), :class => "btn btn-danger" %>

      </div>
       <% end %>

    </div>

    <div class="col-xs-12" id="description">
      <h4> <strong>Bio</strong> </h4>
        <p><%= @profile.bio %></p>
      <h4> <strong>Price</strong> </h4>
        <p><%= @profile.price_hour %> £</p>
        <%= link_to "book-me ", new_profile_booking_path(@profile) , :class => "btn btn-success" %>
        <p><% @profile.id %></p>
        <!-- <p>LINKED USER:<%= @profile.user %></p>  we should add name, but we don't have time!-->
        <p><% @profile.user.id %></p>
    </div>

    <div class="col-xs-12">

       <%=  @url_embed.html_safe %>

    </div>
  </div>
</div>

