


<div class="container ">
  <div class="row">

    <div class="col-sm-4 ">

    <div class="text-center">

      <h1><%= @profile.dj_name.upcase %> </h1>
      <img src="https://unsplash.it/200/200" alt="">
    </div>

    </div>

    <div class="col-sm-4">

      <p>BIO: <%= @profile.bio %></p>

      <p>PRICE P/H: £<%= @profile.price_hour %></p>
      <p>Book me: from £<%= @profile.price_hour %> to </p>

      <p>PROFILE ID:<%= @profile.id %></p>
      <!-- <p>LINKED USER:<%= @profile.user %></p>  we should add name, but we don't have time!-->
      <p>LINKED USER ID:<%= @profile.user.id %></p>

      <div class="">
        <p>TODO: THIS Delete link SHOULD ONLY SHOW IF THE LINKED USER IS LOGGED IN</p>
        <%= link_to "Delete ", profile_path(@profile), :class => "btn btn-danger",
              method: :delete,
              data: { confirm: "Are you sure?" } %>

          <%= link_to "Edit ", edit_profile_path(@profile), :class => "btn btn-danger" %>
      </div>

      <% @url_embed %>
    </div>

    <div class="col-sm-4">
      <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272661310&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

       <%=  @url_embed.inspect %>

    </div>
  </div>
</div>

