<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dvgxgsxyc/image/upload/v1471948252/dj_home.jpg');">
  <div class="banner-content">
    <h1>Hello DJ</h1>
        <p>DJ booking made easy.</p>
    <%= form_tag(profiles_path, :method => "get", id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :city, nil, :placeholder => "London", :class => "form-control" %>
    <%= select_tag :max_price, options_for_select([0,100,1000,10000,50000,100000,250000,500000]), :prompt => "Max Price", :class => "form-control"  %>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

   <div class="text-center padded">
      <div class="row">
        <div class="col-xs-12 col-md-6 padded">
          <%= image_tag("search.png", height: '70' ) %>
          <h4>Search for a DJ</h4>
        </div>
        <div class="col-xs-12 col-md-6 padded">
          <%= image_tag("localisation.png", height: '70' ) %>
          <h4>Find DJ near you</h4>
        </div>
        <div class="col-xs-12 col-md-6 padded">
          <%= image_tag("payment.png", height: '70' ) %>
          <h4>Easy Payment</h4>
        </div>
        <div class="col-xs-12 col-md-6 padded">
          <%= image_tag("logo.png", height: '70' ) %>
          <h4>Rate your DJ</h4>
        </div>
      </div>
    </div>

