<% content_for :title, "Hello DJ" %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dvgxgsxyc/image/upload/v1471948252/dj_home.jpg');">
  <div class="banner-content">
    <h1>Hello DJ</h1>
 <!--    <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 padded"> -->
    <p>Find and book world class DJs to play at your event or party.</p>
   <!--  </div>
    </div> -->
  </div>
</div>

  <%= render 'shared/search', remote: false %>

<div class="text-center">
  <div class="row">
    <div class="col-xs-12 col-md-6 padded">
      <%= image_tag("search.png", height: '70' ) %>
      <h3>1. Search</h3>
      <p>Search for a DJ in your area with your budget</p>
    </div>
    <div class="col-xs-12 col-md-6 padded">
      <%= image_tag("localisation.png", height: '70' ) %>
      <h3>2. Locate</h3>
      <p>View the results on our map and chose a DJ.</p>
    </div>
    <div class="col-xs-12 col-md-6 padded">
      <%= image_tag("payment.png", height: '70' ) %>
      <h3>3. Book</h3>
      <p>Arrange the booking and make a payment.</p>
    </div>
    <div class="col-xs-12 col-md-6 padded">
      <%= image_tag("rate.png", height: '70' ) %>
      <h3>4. Rate</h3>
      <p>After the event, rate your DJ and provide feedback.</p>
    </div>
  </div>
</div>

<div class="background-grey text-center padding-images">
  <h2> Selection of our top DJs</h2>
  </br>
  <div class="container">
    <div class="row">
      <% @popular_profiles.each do |profile| %>
        <div class="col-xs-12 col-sm-4 padding-images">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(profile.photo) %>');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <p><%= profile.dj_name %></p>
            </div>
            <%= link_to "", profile_path(profile), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="newsletter-form">
  <div class="container">
    <h2>Sign up to our newsletter</h2>
    <p>Keep in touch with our latest development</p>
    <div class="form-inline">
    <%= text_field_tag :email, nil, :placeholder => "email@hellodj.com", :class => "form-control" %>
    <%= submit_tag "Submit", class: "btn btn-danger" %>
    </div>
  </div>
</div>



<script>




</script>
