<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dvgxgsxyc/image/upload/v1471948252/dj_home.jpg');">
  <div class="banner-content">
    <%= form_tag(profiles_path, :method => "get", id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :city, nil, :placeholder => "London", :class => "form-control" %>
    <%= select_tag :max_price, options_for_select([0,100,1000,10000,50000,100000,250000,500000]), :prompt => "Max Price", :class => "form-control"  %>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

   <div class="text-center padded">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= cl_image_tag("icon-dj.png",
      width: 100, height: 100, crop: :fill) %>
          <h3>Bla bla bla</h3>
          <p>Cool</p>
        </div>
        <div class="col-xs-13 col-md-6">
          <%= cl_image_tag("icon-dj.png",
      width: 100, height: 100, crop: :fill) %>
          <h3>Bla bla bla</h3>
          <p>Cool</p>
        </div>
        <div class="col-xs-13 col-md-6">
          <%= cl_image_tag("icon-dj.png",
      width: 100, height: 100, crop: :fill) %>
          <h3>Bla bla bla</h3>
          <p>Cool</p>
        </div>
        <div class="col-xs-13 col-md-6">
          <%= cl_image_tag("icon-dj.png",
      width: 100, height: 100, crop: :fill) %>
         <h3>Bla bla bla</h3>
          <p>Cool</p>
        </div>
      </div>
    </div>

